<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- 어노테이션 사용위한 설정 -->
	<context:component-scan base-package="model"></context:component-scan>


		
	<!-- jdbcTemplate 사용위한 설정 -->	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>	
		
		
		<!-- Datasource 관련 설정! -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
      <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
      <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
      <property name="username" value="park" />
      <property name="password" value="1234" />
   </bean>
		

	<!-- <bean class="com.park.app.common.LogAdvice" id="log" /> <bean class="com.park.app.common.AfterAdvice" 
		id="aAdvice" /> <bean class="com.park.app.common.AfterReturningAdvice" id="arAdvice" 
		/> <bean class="com.park.app.common.AfterThrowingAdvice" id="atAdvice" /> 
		<bean class="com.park.app.common.AroundAdvice" id="aroundAdvice" /> -->


	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>


<!-- 	<aop:config>
		<aop:pointcut expression="execution(* model.board2.*Impl.select*(..))" 
			id="aPointcut" /> <aop:pointcut expression="execution(* model.board2.*Impl.*(..))" 
			id="bPointcut" /> <aop:pointcut expression="execution(* model.Client.*Impl.select*(..))" 
			id="cPointcut" />

		<aop:aspect ref="atAdvice"> <aop:after-throwing method="printLog" 
			pointcut-ref="bPointcut" throwing="excep" /> </aop:aspect>
		<aop:aspect ref="arAdvice"> <aop:after-returning method="printLog" 
			pointcut-ref="aPointcut" /> </aop:aspect> <aop:aspect ref="atAdvice"> <aop:after-throwing 
			method="printLog" pointcut-ref="bPointcut" /> </aop:aspect>
		<aop:aspect ref="aroundAdvice">
			<aop:around method="printLog" pointcut-ref="bPointcut" />
		</aop:aspect>
	</aop:config> -->


</beans>
